@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #111111;
}

.palette {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
}
.square {
  --size: 15px;
  width: var(--size);
  height: var(--size);
  background-color: #1d1d1d;
  margin: 1.5px;
}
